@font-face {
    font-family: 'FiraV';
    src: url('../fonts/fonts/firaV.woff') format('woff');
}

body {
    font-family: "FiraV", "CaskaydiaMono NF Light", serif;
    font-size: 12px;
    color: #a49482;
    background-color: #181a1b;
    -moz-user-select: none;
}

#toolBar {
    font-family: "FiraV", "CaskaydiaMono NF Light", serif;
    font-size: 9pt;
    padding: 8px;
    display: flex;
    background-color: #282828;
    justify-content: space-between;
    border-radius: 8pt;
    margin: 10px
}

#bottomBar {
    margin: 10px;
    font-family: "FiraV", "CaskaydiaMono NF Light", serif;
    font-size: 9pt;
    padding: 8px;
    display: flex;
    background-color: #282828;
    justify-content: space-between;
    border-radius: 8pt;
}

#logo {
    display: flex;
    margin: 6pt;
    padding: 8pt;
    justify-content: center;
}

a:link, a:visited, a:active, a:hover {
    text-decoration-line: none;
}

a:link, a:active, a:visited {
    color: #a49482;
}

a:hover {
    color: #ffffff;
}


table {
    margin: 10px;
    background: #252525;
    width: 98%;
    /*table-layout: fixed;*/
    border-collapse: collapse;
}

td {
    overflow-wrap: break-word;
    padding: 12px;
}

td:first-child {
    width: 250px;
}

td:nth-child(even) {
    border-radius: 10pt;
}

.btn {
    display: inline-flex;
    align-items: center;
    height: 18px;
    font-size: 11px;
    background-color: #4a4540;
    border-radius: 4px;
    transition-duration: 0.5s;
    transition: all 0.5s ease;
    color: #a49482;
}
.btn:hover {
    transform: scale(1.3,1.3);
    background-color: coral;
    box-shadow: 0 0 40px coral;
    color: white;
}

input {
    background-color: #1d2021;
    color: #a49482;
    border-radius: 4px;
    border: none;
    transition-duration: 0.7s;
}

input:hover {
    background-color: coral;
    color: white;
    box-shadow: 0 0 80px coral;
}
input:focus {
    outline: none;
    border: 1pt solid coral;
}

.sasklogo {
    transition-duration: 1s;
}

.sasklogo:hover {
    transform: scale(1.2,1.2);
}


