p {
    font-family: "Trebuchet MS", serif;
    font-size: 14px;
    font-weight: bold;
}

.gif1 {
    display: flex;
    justify-content: center;
}

.row {
    justify-content: center;
    text-align: center;
}

.container2 {
    padding-top: 20px;
}

.col5 {
    background: #232323;
}

.col6 {
    background: white;
}

.col5, .col6 {
    aspect-ratio: 1 / 1;
    justify-content: center;
    display: flex;
}

.p1 {
    margin-top: 12px;
}

.numberColumn {
    font-family: "Trebuchet MS",serif;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: flex-end;
}

.alphabetRow {
    margin-top: 4pt;
    display: flex;
    justify-content: center;
}


.moveHistory {
    margin-top: 10px;
}

