.containerBig {
    background-color: #1d2021;
    padding: 8pt;
}

.container {
}

.mainTable {
    background-color: #181a1b;
    border: 2px dashed #a49482;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
}

.colCal {
    justify-content: center;
    text-align: center;
}

.colTitle {
    justify-content: center;
    text-align: center;
}


.colPrice {
    margin-bottom: 20px;
}

p {
    font-size: 16px;
}

.cell {
    min-height: 0;
    margin: 0.75rem;
}

.cellIMG {
    margin-top: 12pt;
    display: flex;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

#productSelect {
    width: 100%;
    color: white;
    background-color: #1d2021;
    font-size: 10pt;
    border-radius: 7pt;
    font-family: "Trebuchet MS", serif;
}

input[type="radio"] {
    background-color: #1d2021;
}

.radioButton {
    font-family: "Trebuchet MS", serif;
    font-size: 10pt;
}

input[type="button"] {
    width: 100%;

}

input[type="text"] {
    width: 100%;
}

.showDetail {
    text-align: right;
    font-size: 8pt;
}