
* {
    box-sizing: border-box;
}

html,
body {
    font-family: "FiraV", "Trebuchet MS", arial, serif;
    font-size: 12px;
}

table {
    border-radius: 10px;
}


td:first-child {
    width: 140px;
}

.VUList td {
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.container {
    padding: 12px;
    border-collapse: collapse;
    border: 1pt solid #8a775a;
    border-radius: 10px;
}


button {
    height: 25px;
    font-size: 12px;
    background-color: #4a4540;
    color: #a49482;
    border-radius: 4px;
    border: none;
    transition-duration: 0.5s /*4s*/;
}

button:hover {
    color: white;
    transform: scale(1.4,1.4) /*rotate(8640deg)*/;
    background-color: coral;
    border-radius: 4px;
    box-shadow: 0 0 10px coral, 0 0 40px coral;
    border: none;
}

input {
    background-color: #1d2021;
    color: #a49482;
    border-radius: 4px;
    border: none;
}

input:hover {
    transition-duration: 0.7s;
    background-color: coral;
    color: black;
    box-shadow: 0 0 80px coral;
}
input:focus {
    outline: none;
    border: 1pt solid coral;
}

.newsCon {
    transition-duration: 1s;
}

.newsCon h5 {
    color: coral;
}

.newsCon:hover {
    color: black;
    background-color: #817261;
}

.weatherCon {
    transition-duration: 1s;
}

.weatherCon table {
    transition-duration: 1.5s;
}

.weatherCon h5 {
    color: coral;
}

.weatherCon:hover table {
    color: #000000;
    background-color: #817261;
}

.weatherCon:hover {
    color: black;
}

.projectCon {
    transition-duration: 1s;
}

.projectCon table {
    transition-duration: 1.5s;
}

.projectCon h5 {
    color: coral;
}

.projectCon:hover table {
    color: #000000;
    background-color: #817261;
}

input[type="radio"] {
    accent-color: coral;
    border: 1px solid black;
}

input[type="radio"]:focus {
    box-shadow: 0 0 40px coral;
}


